<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                
                <p><%= link_to(image_tag("facebook.png", :class => "img-center"), "https://www.facebook.com/ASafeFurrPlace/timeline") %><br>
                Copyright &copy; A SafeFurr Place 2016</p>
            </div>
        </div>
    </div>
</footer>